.jumbotron-fluid {
    background-color: white;
}

img {
    width: 100%;  
    position: relative;
}

h1 {
    position: absolute;
    top: 0;
    font-family: 'Monoton', cursive;
    text-align: center;    
}

.lead {
    margin-top: 5%;
    font-family: 'Monoton', cursive;
    font-size: 48px;

}

form {
    border: black 2px solid;
    background-color: slategray;
}

label {
    font-family: 'Monoton', cursive;
    font-size: 20px;

}

.form-group, button {
    margin: 3%;
}
